name: Build & Deploy

on: [push]

jobs:
  main:
    name: 'Build and Test'
    runs-on: ubuntu-latest

    steps:
      - uses: linz/action-typescript@v3

  deploy-prod:
    name: 'Deploy'
    runs-on: ubuntu-latest
    needs: main

    environment:
      name: prod

    permissions:
      contents: read
      id-token: write

    if: github.ref == 'refs/heads/master'
    steps:
      - uses: linz/action-typescript@v3

      - name: (Prod) Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
      # - name: Diff CDKTF
      #   run: |
      #     npx cdktf diff
      #   env:
      #     BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
